@use "../custom" as *;
@use "../components/mixins" as *;
@use "../components/buttons" as *;

.menu {
  @include gradient;
  .brand-logo {
    color: $white;
    display: flex;
    gap: 10px;

    a {
      color: $white;
    }
    svg {
      width: 30px;
      height: auto;
    }
  }

  li {
    padding: 0 0.7rem;

    a {
      font-weight: 600;
      text-transform: capitalize;
      color: $white !important;
    }
  }
}
